.user {
  background: #f8f8f8;
  border-radius: 4px;
  padding: 15px 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column; /* Adjust to column layout */
}

.user__info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 10px; /* Add some space between info and courses */
}

.user__courses {
  display: flex;
  flex-wrap: wrap;
}

.user__courses--course {
  margin-right: 10px;
  margin-bottom: 5px;
}

.user__courses--course span {
  padding: 2px 5px;
  border-radius: 4px;
}

.satisfactory {
  color: #F44336;
  background-color: rgba(244, 67, 54, 0.1);
}

.good {
  color: #673AB7;
  background-color: rgba(103, 58, 183, 0.1);
}

.very-good {
  color: #00BCD4;
  background-color: rgba(0, 188, 212, 0.1);
}

.excellent {
  color: #4CAF50;
  background-color: rgba(76, 175, 80, 0.1);
}

.user-block img {
        width: 100px; /* Set the width to your desired size */
        height: auto; /* Let the height adjust automatically to maintain aspect ratio */
}

